<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020320968260-13e8n4qqpmgk6pvie9liicq7r097i039.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020320968260-13e8n4qqpmgk6pvie9liicq7r097i039</string>
	<key>API_KEY</key>
	<string>AIzaSyCDyFvVNgnrlsfXmA7jOD4Y-8vmXX3Stnw</string>
	<key>GCM_SENDER_ID</key>
	<string>1020320968260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>diplomskiRadIzIosa.BeFitting</string>
	<key>PROJECT_ID</key>
	<string>befitting-7aff3</string>
	<key>STORAGE_BUCKET</key>
	<string>befitting-7aff3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020320968260:ios:008d828218b11b39f75611</string>
</dict>
</plist>